PORT=5000
SLACK_WEBHOOK=https://hooks.slack.com/services/.../.../...

#These values are optional, but it will override any settings in the integrations page.
SLACK_USERNAME = AwesomeBot
SLACK_CHANNEL = Repository

#Adjust HEX colors ie: #fff000

#Updated, Created
HEX_INFO = #3498db

#Declined
HEX_DANGER = #e74c3c

#Unapprove, Comment: Created, Comment: Deleted, Comment: Updated
HEX_WARNING = #f1c40f

#Merge & Approve
HEX_SUCCESS = #2ecc71
